/* App.css */

.App {
  text-align: center;
}

.button-group {
  margin-bottom: 20px;
}

.text-field-container {
  padding-top: 2%;
  width: 40%;
  margin: 0 auto; /* Center the text field horizontally */
  text-align: center; /* Center the text within the text field */
  
}

.box-wrapper {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  margin-top: 20px;
}


.lyrics-container {
  border-radius: 10px;
  border: 2px solid #ccc;
  padding: 20px;
  width: 800px; /* Set a fixed width */
  margin: 0 auto; /* Center the container horizontally */
}

.lyric-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  width: 97%; /* Adjusted width to fill the container */
  height: 30px; /* Adjusted height */
}

.lyric-text {
  text-align: left;
  width: 100%; /* Adjusted width */
}

